#navigation {
    background-color: aquamarine;
    margin-bottom: 0px;
    padding: 0px;
    padding-bottom: 10px;
}

.navigation li {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    text-decoration: none;
    padding: 0px;
}

.navigation li a {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: black;
    margin: 10px;
}

#imagem {
    margin-top: 20px;
    max-width: 400px;
    max-height: 400px;
}

#repositorios div {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #d4b687;
}

#repositorios div p:first-of-type {
    text-align: center;
}
